# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.venv/

# Environment
.env

# Logs
logs/
*.log

# Uploads
uploads/*
!uploads/.gitkeep

# Exports
exports/*
!exports/.gitkeep

# VS Code
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Docker
postgres/