*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

html,
body,
#app{

    width:100%;

    min-height:100%;

}

body{

    font-family:

        Inter,

        "Segoe UI",

        Arial,

        sans-serif;

    background:var(--background);

    color:var(--text);

}

button{

    font-family:inherit;

}

input{

    font-family:inherit;

}

a{

    color:inherit;

    text-decoration:none;

}

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-track{

    background:#0E1724;

}

::-webkit-scrollbar-thumb{

    background:#2B425A;

    border-radius:10px;

}

::-webkit-scrollbar-thumb:hover{

    background:#416180;

}
