body{

font-family:Arial;
background:#111;
color:white;
padding:30px;

}


h1{

color:#00ff99;

}


.cards{

display:flex;
gap:20px;

}


.card{

background:#222;
padding:20px;
border-radius:10px;
width:200px;

}


.card p{

font-size:30px;
color:#00ff99;

}



table{

width:100%;
margin-top:30px;
border-collapse:collapse;

}


th,td{

border:1px solid #444;
padding:10px;

}


th{

background:#222;

}


