button{

    background:var(--primary);

    color:white;

    border:none;

    padding:12px 22px;

    border-radius:8px;

    cursor:pointer;

    transition:var(--transition);

    font-size:15px;

}

button:hover{

    background:#1d4ed8;

}

input[type=file]{

    margin-right:15px;

    color:white;

}